<%- include('../../partials/header'); %>

<body>
    

        <div class="container">
            <hr>
            <div class="card mt-0">
                <div class="card-header">
                 <h2> Login de admin</h2>
                </div>
                <div class="card-body">
                    <form method="POST" action="/authenticate">
                        <input type="email" name="email" placeholder="Informe o seu E-mail:" class="form-control">
                        <input type="password" name="password" placeholder="Informe a sua Senha:" class="form-control mt-2">
                        <button type="submit" class="btn btn-success mt-2 btn-block">Logar</button>
                    </form>

                </div>
            </div>
        </div>



        
</body>

<%- include('../../partials/footer'); %>
